.header {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
}
.logo{
    width: 200px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
} 